Screen {
    background: $panel;
    align: center top;
    layout: vertical;
}

Button, .results, Input {
  border: blank $accent;
}

*:focus {
    border: round $accent;
}

#lb_intro {
    content-align: center middle;
    height: 3;
    margin: 2;
    text-style: bold;
    background: $secondary-background;
    width: 100%;
}

#cntn_input_fields {
    align: center middle;
    width: 100w;
    height: 3;
/*     offset: 3w 0; */

}
#cntn_buttons {

    align: center middle;
/*     offset: 3w 0; */
    height: 5;
    width: 100w;

/*  outline is helpful for debugging    */
/*     outline: solid red; */

}


.input_field {

    width: 35;
    margin: 0 3 0 3;
    box-sizing: border-box;
    text-align: center;
}

Button {
    width: 35;
    /* top right bottom left  */
    margin: 0 3 0 3;
    box-sizing: border-box;
    text-align: center;
}

#in_files {
    background: $primary-lighten-2 40%;
}
#in_search {

    background: $primary-lighten-3;
}

#in_replace {
    background: $warning-lighten-3;
}


#cntn_results {

    align: center middle;
/*     offset: 3w 0; */
    width: 100w;

/*  outline is helpful for debugging    */
/*     outline: solid red; */
    height: 32;
    overflow-y: auto;

}


.results {
    width: 48%;
/*     min-height: 25; */
    height: 30;
    margin-left: 1;
    overflow-x: auto;
    overflow-y: auto;

}


#statusbar {
    width: 100%;
    height: 1;
    background: $background-lighten-3;
}

#statusbar.sb_active {
    background: $accent-darken-3;
}

/* for help screen */
#dialog {
    grid-size: 2;
    grid-gutter: 1 2;
    padding: 1 2;
}

#question {
    column-span: 2;
    content-align: center bottom;
    width: 100%;
    height: 100%;
}
