Screen {
    background: $panel;
    align: center top;
    layout: vertical;
}

Button, .results, Input {
  border: blank $accent;
}

*:focus {
    border: round $accent;
}

#lb_intro {
    content-align: center middle;
    height: 3;
    margin: 2;
    text-style: bold;
    background: $secondary-background;
    width: 100%;
}

#cntn_buttons {

    align: center middle;
    offset: 3w 0;
/*     margin: 0 auto 0 auto; */
    max-height: 9;
    width: 94w;

/*  outline is helpful for debugging    */
/*     outline: solid red; */

}

#in_search {

    background: $primary-lighten-3;
}

#in_replace {

    background: $warning-lighten-3;
}


Button {
    width: 30w;
    box-sizing: content-box;
    /* top right bottom left  */
    margin: 0 5 0 5;
    text-align: center;
}


.results {
    width: 100%;
/*     min-height: 25; */
    height: 30;
    overflow-x: auto;
    overflow-y: auto;

}


#statusbar {
    width: 100%;
    height: 1;
    background: $background-lighten-3;
}

#statusbar.sb_active {
    background: $accent-darken-3;
}

/* for help screen */
#dialog {
    grid-size: 2;
    grid-gutter: 1 2;
    padding: 1 2;
}

#question {
    column-span: 2;
    content-align: center bottom;
    width: 100%;
    height: 100%;
}
